<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555806693501-33clgg682shjik4e8pna2hseg36dnred.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555806693501-33clgg682shjik4e8pna2hseg36dnred</string>
	<key>API_KEY</key>
	<string>AIzaSyA9L2OhFdH0ewDvvEkklbcmWdsVdOYADD8</string>
	<key>GCM_SENDER_ID</key>
	<string>555806693501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protekaApp</string>
	<key>PROJECT_ID</key>
	<string>proteka-app</string>
	<key>STORAGE_BUCKET</key>
	<string>proteka-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555806693501:ios:65777683a586dd67de7914</string>
</dict>
</plist>